/* Style général du formulaire */
form {
    width: 400px;
    margin: 0 auto;
  }
  
  /* Style des champs de saisie */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style du bouton */
  input[type="submit"] {
    background-color: #494bd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #a04586;
  }
  
  /* Style des messages d'erreur */
  .error {
    color: red;
    font-size: 12px;
  }
  
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    border: 1px solid black;
  }