.ma-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;

    background-color: blue;
    width: 190px;
    height: 70px;
 }   

.ma-zone-texte {
    display: flex;
    color: red;
    background-color: yellow;
    width: 50px;
    height: 90%;
    border-style: solid;
    justify-content: space-around;
}