#conteneur {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    height: 1000px;
    background-color: antiquewhite;
    align-items: center;
}

.element {
    width: 250px;
    height: 250px;

}

.e1 {
    background-color: orange;
}

.e2 {
    background-color: blue;

}

.e3 {
    background-color: green;
}

.element:nth-child(1) {
    /* order: 2; */
    flex: 2;
}

.element:nth-child(2) {
    /* align-self: flex-end; */
    /* order: 1; */
    flex: 1;
}

.element:nth-child(3) {
    /* order: 3; */
flex: 3;
}