                                         /* exercice 3 */
#ex3{                           
    background-color: grey;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
/* @media (width <=512px){
    header{
        display:flex;
        flex-direction:column;
        /* width: 70px; */
    /* }
} */ */
                                            /* exercice 4 */
.flex-mosaique {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-mosaique img {
/* s’applique aux images DANS flex-mosaique */
width: 250px;
height: 350px;
margin-right: 10px;
}
                                            /* exercice 5 */

#wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    

}
#duo1{
    background-color: darkgrey;
    margin: 10px 10px 10px 10px;
    width: 48%;
    text-align: center;
    height: 538px;
}
#duo2{
    margin: 10px 10px 10px 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Hd{
    background-color: rgb(143, 139, 139);
    
    height: 47%;
    text-align: center;
}
#Bduo{
    display: flex;
    flex-wrap: wrap;
    height: 47%;
}
#Bduo1{
    background-color: rgb(232, 208, 171);
    margin: 5px 5px 5px 5px;
    width: 48%;
    text-align: center;
}
#Bduo2{
    background-color: rgb(232, 208, 171);
    margin: 5px 5px 5px 5px;
    width: 48%;
    text-align: center;
}
@media (width <= 450px){
    #wrap{
display: flex;
flex-direction: column;
    }
    #Bduo{
        display: flex;
flex-direction: column;
width: 400px;
    }
}
                                            /* execice 6   */
#Fond6{
    background-color: rgb(81, 213, 213);
    height: 750px;
    width: 1300px;
    display: flex;
    flex-direction: column;
}
#Haut6, #Droite6, #Bas6, #Gauche6, #Milieu6{
    background-color: aliceblue;
    margin: 15px 15px 15px 15px;
    text-align: center;
    border: 1px solid blue;
}
.B{
    width: 128px;
}
.A{
    height: 70px;
}
#Milieu6{
    width: 80%;
}
#GrMilieu6{
    height: 70%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin: 0px 15px 15px 15px;
}
#Gauche6, #Droite6, #Milieu6{
height: 100%;
}
#Haut6{
    margin-bottom: 0%;
}
#Droite6{
    margin-left: 0%;
}

                                                     /* <!-- exercice7 --> */
#D, #F, #H, #I, #J{
background-color: aquamarine;
border: 1px solid yellow;
text-align: center ;
}
#C{
    height: 1000px;
    width: 1000px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;

}
#D{
   
    width: 1270px;

}
#H{
    width: 768px;

}
#H, #I{
    height: 80%;

}
#I, #F{
    width: 95px;
}
#D, #J{
    height:100px;
}
#J{
    width: 500px;
    /* transform: translate(100px); */
}
#F{
    height: 900px;
}
#G{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 900px;

}
