section{
    background-color: gray;
    height: 1000px;
    width: 1500px;
    padding: 50px 0px 0px 0px ;
    
    
}
header, footer{
    height: 10%;
    width: 1400px;
    background-color: beige;
    margin-left: 50px;
    margin-right: 50px;
   

}
#Directrice{
    height: 70%;
    width: 1400px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;

}
#box{
    display: flex;
    flex-wrap: wrap;

}
#Case{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1200px;
    height: 40%;
}

.carre{
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
    margin: 5px ;

}
#Hcarre{
    margin-left: 25px ;
}

#bloc{
    display: flex;
    width: 1200px;
    height: 40%;
    justify-content: space-between;
    margin-top: 100px;

}
.info{
    height: 250px;
    width: 320px;
    background-color: antiquewhite;
    margin: 5px;
}
#divers{
    height: 95%;
    width: 20%;
    background-color: aliceblue;
}
header, .carre, .info, #divers, footer{
  text-align: center; 
  border: 1px solid red;
  
}
