section {
  background-color: red;
  display: flex;
  flex-direction: row;
  
}

#fBandeau {
  background-color: yellow;
  width: 120px;
  margin-left: 15px;
  text-align: center;
}
#TxBandeau {
  margin-top: 0%;
}

#fContenu {
  background-color: blue;
  display: flex;
    flex-direction: column;
  width: 100%;
  text-align: center;
  margin-right: 15px;

}

#info1 {
  background-color: cyan;
  margin: 5px 50px 20px 50px;
  padding: 1px 5px 1px 0px;
  height: 100px;
}
#TxImportant {
  margin-bottom: 0%;
}

#info2 {
  background-color: cyan;
  margin: 10px 50px 20px 50px;
  text-align: start;
  padding: 1px 5px 1px 5px;
  
}

#info3 {
  background-color: cyan;
  margin: 10px 50px 20px 50px;
  text-align: start;
  padding: 1px 5px 1px 5px;
}
#Txcontenu {
  color: white;
  margin-bottom: 0%;
}
