.container {
    width: 100%;
    height: 500px;

    background-image: linear-gradient(rgba(20, 3, 248, 0.459),
            rgba(239, 243, 17, 0.562)),
        url(../image/R.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-block {
    width: 50%;
    height: 200px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "test";
}

@font-face {
    font-family: "test";
    src: url(../font/Alkatra-VariableFont_wght.ttf);
}

#bonton {
    border: solid 4px rgb(148, 241, 35);
    padding: 10px 50px;
    background-color: black;
    color: rgb(148, 241, 35);
    
}

#bonton:hover {
    background-color: rgba(0, 0, 0, 0.3);
}