
nav{
    background-color: whitesmoke;
    margin: auto;
    min-width: 100%;
    padding: 30px;
    text-align: center;
}
a{
    margin: auto 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
    text-decoration: none;
    font-weight: 900; /* épaisseur de 100 à 900  */
    font-style:italic; /* italic, oblic ou normal */
}
/* lien 1 */
#link1:link {
    color: black;
    text-decoration: underline;
    /* font-style:normal; */
}
#link1:hover {
    color: green;
    text-decoration: none;
}

/* lien2 */
#link2:link{
color: green; 
/* font-style:normal; */
}
#link2:hover{
    text-decoration: underline green;
}

/* lien3 */
#button1:link{
border: 1px solid green;
padding: 10px 20px;
color: black;
/* font-style:normal; */
}
#button1:hover{
    background-color: green;
    color: white;
    
}

/* lien4 */
#button2:link{
    /* font-style:normal; */
    color: rgb(255, 255, 255);
    border: 1px rgba(255, 0, 0, 0.5);
    background-color:rgba(255, 0, 0, 0.5);
    padding: 10px 20px;
    
}
#button2:hover{
background-color: red;
}

#link1, #link2, #button1, #button2:link{
    font-style:normal;
}