.formulaire{
    background-image: url(../image/pika.jpg); 
    background-repeat: no-repeat;
    background-size: 300px 380px;
    background-position: right ;
   background-color: rgb(253, 247, 235);
}

.tableaux{
   display: flex;
}
div{
    margin-right: 200px;
}
#essai{
    color: rgba(84, 129, 129, 0.444);
}
h2{
   font-family: 'Lobster', cursive; 
   text-decoration: underline;
}
@font-face{
    font-family: 'test';
    src: url(../font/Alkatra-VariableFont_wght.ttf);
}
h1{
    font-family: 'test';
    text-decoration: underline red;
}
