body {
    text-align: center;
    background-color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    margin-bottom: 20px;
}

#titre {
    font-size: 120px;
    margin-top: 50px;
}

.consigne {
    font-size: 40px;
}

#input {
    height: 50px;
    width: 200px;

}

#btn {
    padding: 20px 40px;
    border-radius: 10px;
}

#reponse {
    font-size: 120px;
    color: red;
    margin-top: 30px;
}
#Ncoin{
 opacity: 50%;
 color: brown;
}